* {
    padding: 0;
    margin: 0;
}
html{
    font-family: HelveticaNeue, Helvetica, Arial
}
textarea, select, input, button { outline: none; }


.field {
    display: table;
    width: 100%;
}

.field label {
    width: 1px;
}

.field>* {
    display: table-cell;
    vertical-align: middle;
}

.blue-button {
    width: 100%;
    color: white;
    background-color: #0C62B2;
    padding: 12px 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin: 20px 0;
}

#calculator-container {
    width: 100%;
    height: 289px;
}

#results-container {
    width: 100%;
    height: 289px;
}

/* xs devices*/

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .header-container {
        padding-left: 20px;
    }
    #content {
        padding: 0 10px;
    }
}

/* s devices*/

@media only screen and (min-width: 768px) {
    #content {
        padding: 0 40px;
    }
    #results-container {
        height: 289px;
    }
}

/* medium devices*/

@media only screen and (min-width: 992px) {
    #content {
        padding: 0 40px;
    }
    html {
        font-size: 14px;
        
    }
    #calculator-container {
        float: left;
        width: 52%;
        height: 522px;
    }
    #results-container {
        float: left;
        width: 33%;
        height: 440px;
        margin-top: 41px;
    }
}

.gutter {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#calculator-container {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 14px;
    border-width: 0;
}


.mortgage-calculator {
    font-family: HelveticaNeue-Light;
    font-size: 1.5rem;
    color: #006ea0;
    font-weight: normal;
    margin-bottom: 1%;
}