* {
    padding: 0;
    margin: 0;
}

.collapsed {
    display: none;
}

html {
    font-family: HelveticaNeue, Helvetica, Arial
}

#content {
    margin-top: 20px;
}

[visible=false] {
    display: none;
}

textarea,
select,
input,
button {
    outline: none;
}

.error-message {
    color: #da3535;
    font-size: 0.71rem;
    font-weight: bold;
}

.field {
    display: table;
    width: 100%;
}

.field label {
    width: 1px;
}

.field>* {
    display: table-cell;
    vertical-align: middle;
}

.blue-button {
    width: 100%;
    color: white;
    background-color: #0C62B2;
    padding: 12px 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin: 20px 0;
}

#calculator-container {}

/* xs devices*/

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .header-container {
        padding-left: 20px;
    }
    #content {
        padding: 0 10px;
    }
}


.gutter {
    margin-top: 10px;
}
/* s devices*/

@media only screen and (min-width: 768px) {
    #content {
        padding: 0 40px;
    }
    .gutter {
        margin-left: 3%;
        margin-right: 3%;
    }
}

/* medium devices and large devices*/

@media only screen and (min-width: 992px) {
    #content {
        padding: 0 40px;
    }
    html {
        font-size: 14px;
    }
    .gutter {
        margin-left: 3%;
        margin-right: 3%;
    }
}

input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 14px;
    border-width: 0;
}

.mortgage-calculator {
    font-family: HelveticaNeue-Light;
    font-size: 1.5rem;
    color: #006ea0;
    font-weight: normal;
    margin-bottom: 1%;
}