.row > *{
    /* padding: 10px; */
}
.row{
    display: flex;
    overflow: hidden;
    clear: both;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

.col-6{
    /* width: 50%; */
}
