.dollar-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* from xs devices to medium devices*/

@media only screen and (max-width: 992px) {
    .dollar-input.input {
        padding: 0 15px;
    }
}

/* big devices */

@media only screen and (min-width: 992px) {
    .dollar-input.input {
        padding: 0 25px;
    }
}

