.input {
    border: solid 1px #a6a6a6;
    height: 45px;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 4px;
    padding-left: 1rem;
}

.input.focus {
    box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    background-color: #ffffff;    
    border: solid 1px #3e3d3f;
}

.input.error{
    border-color: #da3535;
}
