/*======Animations======*/

/*
*   Animation from top down.
*/

@keyframes animate-down {
    from {
        margin-top: -220px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

/*
*   Animation from left to right.
*/

@keyframes animate-right {
    from {
        margin-left: -149px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

/*
*   Animation to increase height
*/

/*======End of Animations======*/

.calculator {
    overflow: hidden;
    padding: 4px;
}

.calculator .anual-tax-container,
.calculator .anual-insurance-container {
    width: 50%;
}

.calculator .calculator-section {
    z-index: 100000;
    position: relative;
    background-color: white;
}

.calculator .results-section {
    z-index: -1000;
    float: left;
    position: relative;
}

.calculator .anual-tax-container {
    padding-right: 10px;
}

.calculator .anual-insurance-container {
    padding-left: 10px;
}

.calculator .number-input-label {
    margin: 5px 0;
    display: block;
}

.calculator .instructions {
    font-weight: normal;
    font-size: 1rem;
    color: #3e3d3f;
    margin-bottom: 5px;
}

.calculator form {
    margin-top: 15px;
}

.calculator .sliders-container {
    margin-bottom: 22px;
}

.calculator .big-inputs {
    margin-bottom: 20px;
}

.calculator label:not(.dollar-sign) {
    font-weight: bold;
}

.calculator .slider-item {
    margin-bottom: 13px;
}

.calculator .calculator-section {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* width: 100%; */
}

.calculator .results-section {
    width: 100%;
}

.calculator .results-section .results {
    height: 289px;
}

/* from xs devices to medium devices*/

@media only screen and (max-width: 992px) {
    .calculator .results-section .results {
        height: 289px;
    }
    .calculator .calculator-section {
        padding: 20px;
    }
    .calculator .results-section.expanded {
        display: block;
        animation-name: animate-down;
        animation-duration: 1s;
    }
    .calculator .results {
        padding: 20px;
    }
}


/* big devices */

@media only screen and (min-width: 992px) {
    .calculator .results-section {
        display: block;
    }
    .calculator .results-section .results {
        height: 440px;
    }
    .calculator .results-section {
        /* width: auto; */
        float: left;
        margin-top: 41px;
    }
    .calculator .calculator-section {
        float: left;
        width: 57%;
        height: 522px;
        padding: 40px;
    }
    
    .calculator .calculator-section {
        /* width: 298px; */
    }
    .calculator .results-section{
        display: block;
        animation-name: animate-right;
        animation-duration: 1s;
        width: calc(43% - 80px);
    }
    .calculator .results-section .results {
        padding: 40px;
    }
    .calculator .results-section .results>h2 {
        font-weight: normal;
    }
    .calculator .results-section .results ul,
    .calculator .results-section .results ul li,
    .calculator .results-section .results ul li > *:not([visible=false]) {
        display: block;
        border: none;
        text-align: left;
    }
    .calculator .results-section .detail-value {
        font-weight: bold;
        font-size: 1.28rem;
    }
    .calculator .results-section .results .detail-title,
    .calculator .results-section .results .detail-value {
        padding: 0;
    }
    .calculator .results-section .results ul li {
        padding: 20px 0;
    }
    .calculator .results-section .results .detail:last-child {
        border-top: 1px solid #cbcbcb;
    }
    .calculator .results-section .results .total-title {
        font-size: 1.28rem;
    }
}