<div class="calculator">

    <div class="calculator-section">
        <h4 class="instructions">Change values to calculate results</h4>
        <hr/>

        <form novalidate>

            <div class="sliders-container">

                <div class="slider-item">
                    <label>Years of Mortagage</label>
                    <div id="years-of-mortgage">
                    </div>
                </div>

                <div class="slider-item">
                    <label> Rate Interest(%)</label>
                    <div id="rate-of-interest">
                    </div>
                </div>


            </div>

            <div class="big-inputs">
                <label class="number-input-label">Loan amount</label>
                <div id="loan-amount">
                </div>
                <div class="error-message">

                    <div class="loan-amount-errors" visible="{loanAmountHasError}">{loanAmountErrors}</div>
                </div>
            </div>


            <div class="row not-aligned">

                <div class="col-6 anual-tax-container">
                    <label for="anual-tax-input" class="number-input-label">Anual Tax</label>
                    <div id="anual-tax">
                    </div>
                    <div class="error-message">
                        <div class="anual-tax-errors" visible="{anualTaxHasError}">{anualTaxErrors}</div>
                    </div>

                </div>



                <div class="col-6 anual-insurance-container">
                    <label for="anual-insurance-input" class="number-input-label">Anual Insurance</label>
                    <div id="anual-insurance">
                    </div>
                    <div class="error-message">
                        <div class="anual-insurance-errors" visible="{anualInsuranceHasError}">{anualInsuranceErrors}</div>
                    </div>
                </div>



            </div>

            <button class="blue-button submit-button">Calculate</button>
        </form>
    </div>

    <div class="results-section {resultsCls}">
    </div>


</div>