<div class="calculator container">

    <h4>Change values to calculate results</h4>
    <hr/>

    <form>
        <h2>Years of Mortagage</h2>
        <div id="years-of-mortgage">
        </div>

        <h2>Rate Interest(%)</h2>
        <div id="rate-of-interest">
        </div>


        <label>Loan amount</label>
        <div id="loan-amount">
        </div>

        <div class="row">

            <div class="col-6 anual-tax-container">                
                    <label for="anual-insurance-input">Anual Tax</label>
                    <div id="anual-tax">
                    </div>                
            </div>



            <div class="col-6 anual-insurance-container">               
                    <label for="anual-insurance-input">Anual Insurance</label>
                    <div id="anual-insurance">
                    </div>
            </div>



        </div>

        <button class="blue-button">Calculate</button>
    </form>



</div>